html {

  height: 100%;

  * {
    box-sizing: border-box;
    font-size: inherit;
  }

  body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    margin: 0 auto;
    height: 100%;
    font-size: 24px;

    div.form-container {
      text-align: center;

      > div {
        display: block !important;
        text-align: center;
        margin: 0 auto;
      }
    }

    .content-block {
      padding: 80px 0 10px 0;
      width: 100%;
      position: relative;

      .info-row {
        padding: 10px 0;

        .info-label {
          width: 100px;
        }

        .info-label, .info-value {
          display: inline-block;
        }
      }
    }

    .participant-block {
      position: absolute;
      width: 100%;
      top: 10px;
    }

    .roomshare-block {
      padding: 5px;
    }

    .activity-area {
      margin: 5px auto;
      padding: 0 0 50px 0;
      position: relative;

      .activity-log {

        height: 100%;
        overflow: auto;

        .room-activity {
          padding: 5px;
          margin: 5px auto;
          background-color: #dedede;
          text-align: center;
        }

        .my-activity, .user-activity {
          margin: 3px 0;
        }

        .my-activity {
          text-align: right;
        }

        .activity-details {
          display: inline-block;
          padding: 5px;
          margin: 0 5px;
          border: 1px solid #dedede;
          border-radius: 4px;

          .activity-actor {
            font-size: 0.6em;
          }

          .activity-text {
            font-size: 0.8em;
          }
        }
      }

      .create-activity {
        padding-right: 100px;
        position: absolute;
        bottom: 0;
        width: 100%;

        .activity-input {
          width: auto !important;
          display: block !important;
        }

        .activity-button {
          position: absolute;
          right: 0;
          top: 3px;
        }
      }
    }
  }
}
