doctype html
html
  head
    title=title
    link(rel='stylesheet', href='http://localhost:8080/public/stylesheets/style.css')
  body
    div(id='content-section')
    script(type="text/javascript", src="http://localhost:8080/public/javascripts/script.js")
    script(type="text/javascript", src="/socket.io/socket.io.js")
