body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 400px;
  margin: 0 auto;
}
body * {
  box-sizing: border-box;
}
body a {
  color: #00B7FF;
}
body form div {
  padding: 10px 0;
}
body form div > span {
  padding-right: 10px;
  width: 150px;
  display: inline-block;
}
body form div > input {
  padding: 3px;
}
body .header {
  position: relative;
}
body .header .create-room-link {
  position: absolute;
  right: 10px;
  top: 3px;
}
body .join-room .room-name {
  font-size: 20px;
}
body .participant-list h4 {
  font-weight: normal;
  font-size: 14px;
  margin-bottom: 5px;
  color: #696969;
}
body .participant-list .participant-name {
  padding: 5px;
  border: 1px solid #fff;
  color: #e5e5e5;
  background-color: #333;
  position: relative;
}
body .participant-list .participant-name .participant-worth {
  position: absolute;
  background-color: green;
  color: #fff;
  border-width: 0;
  padding: 0 5px;
  right: 5px;
  width: 70px;
  text-align: right;
}
body .participant-list .participant-name .leave-button {
  position: absolute;
  background-color: #696969;
  color: #fff;
  border-width: 0;
  right: 80px;
}
body .participant-list .participant-name .leave-button:hover {
  background-color: red;
  color: #fff;
}
body .start-button {
  margin: 10px auto;
  display: block;
  font-size: 20px;
}
body .game-section {
  margin: 20px auto;
}
body .game-section .card {
  width: 60px;
  height: 100px;
  display: inline-block;
  margin: 0 5px;
  padding-top: 30px;
  text-align: center;
  border: 1px solid #666;
  font-size: 30px;
}
body .game-section .stacked {
  position: absolute;
  left: 0;
  top: 0;
}
body .game-section .upside-down {
  content: 'GR';
}
body .game-section .card-block {
  border: 1px solid #696969;
  padding: 5px;
}
body .game-section .card-block .all-cards,
body .game-section .card-block .burn-cards,
body .game-section .card-block .flop-cards,
body .game-section .card-block .turn-cards,
body .game-section .card-block .river-cards {
  margin: 0 5px;
  display: inline-block;
  position: relative;
}
body .game-section .card-block .all-cards,
body .game-section .card-block .burn-cards {
  width: 60px;
  height: 100px;
}
body .game-section .participant-block {
  border: 1px solid #696969;
  padding: 10px;
  margin: 5px auto;
  text-align: center;
}
body .game-section .participant-block.my-block {
  border: 2px solid green;
}
body .game-section .participant-block.dealer-block .block-name:after {
  content: ' - DEALER';
}
body .game-section .participant-block .block-name {
  font-size: 20px;
}
body .game-section .participant-block .block-worth {
  font-size: 24px;
}
body .game-section .participant-block .block-pot {
  font-size: 30px;
}
